<div class ="container">
    <h1>Hello,</h1>
    <p>My name is Frank, but you can call me Frankies.</p>
    <%= link_to "Home", root_path%>
</div>


<!--<% params.each do |key,value| %>
    <h1> il primo param ha key: <%="#{key}"%> e value: <%="#{value}"%>
<%end%> -->

