

<div class="card" style="width: 30rem;">
  <h2><%= post.title %></h2>
  <div class="card-body">
    
    <h5 class="card-title">Posted by <%= link_to post.user.name , user_path(post.user) %></h5>
    <span class="badge bg-warning text-dark"><%= pluralize(post.views, "view") %></span>
    <p class="card-text"><%= post.body %></p>
    
  </div>
</div>