<h1>My Posts</h1>
<%  @posts.each do |post|%>
    <div class ="container">
        <%= render post %>
        <div>
            <%= link_to "Edit this post", edit_post_path(post) , class:"btn btn-primary"%> |
            <%= link_to "Back to posts", posts_path , class:"btn btn-primary" %>
            <p>
            <%= button_to "Destroy this post", post, method: :delete , class:"btn btn-secondary"  %>
            </p>
        </div>
    </div>
<%end%>